# LaTeX files
**/*.bbl
**/*.blg
**/*.brf
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.out
**/*.synctex.gz
**/*.log
# **/*.pdf

**/.DS_Store/
.vscode
.idea

**/.DS_Store/
.vscode
.idea

venv
results/*

# LaTeX files
*.synctex.gz
*.out
*.log
*.fls
*.fdb_latexmk
*.aux

**/__MACOSX/

# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class
*.pyc

code/logs/*
code/checkpoints/*
code/misclassified/*

# ignore the data folder
data/train/A/
data/train/B/
data/train/C/
data/train/D/
data/train/E/
data/train/F/
data/train/G/
data/train/H/
data/train/I/
data/train/J/
data/train/K/
data/train/L/
data/train/M/
data/train/N/
data/train/O/
data/train/P/
data/train/Q/
data/train/R/
data/train/S/
.DS_Store